[Unit]
Description=Sync youtube playlist
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /path/task.sh
Type=simple

[Install]
WantedBy=multi-user.target